<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Everjobs Suite">

    <test name="Page Object Model Project">
        <classes>
            <class name="tests.TestBaseSignIn"/>
            <class name="tests.BankSignInTest"/>
            <class name="tests.TestBaseTransfer"/>
            <class name="tests.BankTransferTest"/>
        </classes>
    </test>
</suite>